// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.articles {
  margin-top: 60px;
}

div.article {
  margin-top: 40px;
  padding: 20px 35px;
  background: $gray-lightest;
  box-shadow: 1px 1px 7px black;
  -moz-box-shadow: 1px 1px 7px black;
  -webkit-box-shadow: 1px 1px 7px black;

  &:first-child {
    margin-top: 0px;
  }

  &.article-single {
    margin-top: 60px;
  }

  div.options {
    float: right;

    a {
      margin-left: 5px;
    }
  }

  > .title {
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 20px;

    &, &:hover {
      color: black;
    }
  }

  > .content {
    font-size: 1.1em;

    p {
      margin: 0 0 5px;
    }
  }

  div.info {
    margin-top: 20px;

    i {
      margin-left: 5px;
    }
  }

  a {
    color: #3347B7;

    &:hover {
      color: #0A1D88;
    }
  }
}

div.comments-wrapper {
  margin-top: 30px;
  padding: 0 35px;
  background-color: $gray-lightest;

  > div.header {
    margin-top: 20px;
    font-size: 1.4em;
  }

  > div.comments {
    margin-top: 30px;
    position: relative;

    > div.comment {
      width: 90%;
      margin: 20px auto 0px auto;
      font-size: 1.1em;
      padding: 10px 15px;
      background-color: white;
      border: 1px solid $gray-lighter;
      border-radius: 5px;

      > .title {
        font-style: italic;
      }

      > .content {
        margin-top: 10px;
        word-wrap: break-word;
      }

      p {
        margin: 0 0 5px;
      }
    }
  }

  > .form-wrapper {
    width: 90%;
    margin: 30px auto 40px auto;

    textarea {
      margin-top: 10px;
      resize: none;
    }

    .btn {
      margin-top: 10px;
    }
  }
}
