body {
  background-color: #13001F;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.429;
  color: #3F3F44;
}

div.container {
  padding: 0;
  box-shadow: 0px 2px 5px black;
  -moz-box-shadow: 0px 2px 5px black;
  -webkit-box-shadow: 0px 2px 5px black;

  header {
    position: relative;
    background-color: #cc0000;

    a, a:hover, a:focus {
      color: white;
      text-decoration: none;
    }

    > div.logo {
      font-size: 3em;
      font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
      padding-left: 20px;

      a {
        text-shadow: 0px 4px 7px black;
      }
    }

    > nav {
      position: relative;
      top: 23px;
      left: 80px;
      font-size: 1.4em;

      a {
        display: inline-block;
        text-shadow: 0px -1px 0px black;
      }

      .menu-item:not(:first-of-type) {
        margin-left: 20px;
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      top: 58px;
      bottom: 0px;
      box-shadow: 0px 2px 1px black;
      -moz-box-shadow: 0px 2px 1px black;
      -webkit-box-shadow: 0px 2px 1px black;
    }
  }

  > main.row{
    background-color: #696666;
    margin: 0;
    padding-bottom: 60px;
    min-height: 500px;
  }
}